.menuB{
    height: 100vh;
   
}
.menuC{
   
    min-height: 70vh;
   
}
.restImage{
    border-radius: 10%;
    margin: 3px auto;
    background-position: cover;
    height: 12em;
    width: 12em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
    padding-top: 10px !important;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(174,137,42);
    background: linear-gradient(90deg, rgba(174,137,42,1) 0%, rgba(179,183,84,1) 100%);

}
.ordBtn{
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: #023535 ;
    color: white ;
    border: none;
    border-radius: 5px;
    padding: 7px;
   
    transition:background-color 0.3s,transform 0.3s;

}
.ordBtn:active{
    background-color: green;
    transform: scale(0.95);
}


.card-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.card-text{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    align-self:flex-end
   
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hrule{
    margin: 0;
  }
